<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>horseraceapp.filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminLoginFilter</filter-name>
        <filter-class>horseraceapp.filter.AdminLoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>BookmakerLoginFilter</filter-name>
        <filter-class>horseraceapp.filter.BookmakerLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminLoginFilter</filter-name>
        <url-pattern>/app/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>BookmakerLoginFilter</filter-name>
        <url-pattern>/app/bookmaker/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HorseraceAppController</servlet-name>
        <servlet-class>horseraceapp.controller.AppController</servlet-class>
        <init-param>
            <param-name>log4j-init-file</param-name>
            <param-value>WEB-INF/classes/log4j.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>HorseraceAppController</servlet-name>
        <url-pattern>/HorseraceAppController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>
            JDBC_Horserace - Connection pool for this application
        </description>
        <res-ref-name>jdbc/HorseracePool</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/404.jsp</location>
    </error-page>
</web-app>
